@import "dislexic_fonts_style_sheet.css";
.border1{
  border: 30%,blueviolet , inset;
}
center{
    display: block;
    text-align: -webkit-center;
}
.link{
    color: whitesmoke;
}
.link:hover{
    border-radius: 100% ,100% ,100%;
    background-color: aliceblue;
    box-shadow: 5px 5px 5px black;
    color: black;
}
z{
    border: 3px black groove;
    /* border-radius: 50px; */
    background-color: rgb(239, 255, 196);
}
.sommaire{
    border: 3px black groove;
    border-radius: 50px;
    background-color: rgb(239, 255, 196);
    /* box-shadow: 0px 3px 27px -3px rgba(0,0,0,0.75);
    background: rgba(255,255,255,0.9);
    border-bottom: 3px solid #161616;
    position: fixed;
    z-index: 100;
    top: 10%;
    float: right;
    margin-right: 170px; */
}
.summary{
    color: darkgreen;
    text-decoration: none;
}
.summary:hover{
    box-shadow: 5px 2px 3px black;
}
.info_web{
    border: 3px black groove;
    border-radius: 5px;
    background-color:rgb(134, 201, 240);
}
.web{
    border: 3px black groove;
    border-radius: 5px;
    background-color: rgb(239, 255, 196);
}
.web:hover{
    box-shadow: 5px 2px 3px black;
}
.sommaire_web{
    border: 3px black groove;
    border-radius: 5px;
    background-color:rgb(134, 201, 240);
}
.sommaire_web:hover{
    box-shadow: 5px 2px 3px black;
}
.summary_web{
    color:black;
    text-decoration: none;
}
.summary_web:hover{
    box-shadow: 5px 2px 3px black;
}
.big{
    font-size: 3em;
}